body{
    background: #293462;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.circle{
    background: #fff1c1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 60px auto;
    position: absolute;
    overflow: hidden;

}
.hill{
    width: 200px;
    height: 200px;
    background: #fe5f55;
    position: absolute;
    top: 120px;
    left: 70px;
    transform: rotate(45deg);
}
.hill1{
    width: 80px;
    height: 80px;
    background: #fe5f55;
    position: absolute;
    top: 190px;
    left: -0px;
    transform: rotate(45deg);
}