body{
    background: #1a4341;
}
.wrap{
    width: 500px;
    height: 500px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: grid;
}
.outer{
    width: 170px;
    height: 170px;
    background: #998235;
    border-radius: 50%;
/*    margin: 0 auto;*/
    position: relative;
}
.middle{
    width: 250px;
    height: 108px;
    background: #1a4341;
    position: absolute;
    left: 125px;
}
.middle1{
    width: 230px;
    height: 15px;
    background: #f3ac3c;
    position: absolute;
    left: 135px;
    top: 210px;
    border-bottom: 15px solid #1a4341;
}
.middle2{
    width: 230px;
    height: 15px;
    background: #f3ac3c;
    position: absolute;
    left: 135px;
    top: 240px;
    border-bottom: 15px solid #1a4341;
    
}
.middle3{
    width: 230px;
    height: 15px;
    background: #f3ac3c;
    position: absolute;
    left: 135px;
    top: 270px;
    border-bottom: 15px solid #1a4341;
}
.circle{
    position: absolute;
/*    background: black;*/
    width: 220px;
    height: 250px;
    border: 15px solid #1a4341;
    border-radius: 50%;
    left: 130px;

    
}