body{
    background: #191919;
    
/*    position: relative;*/
}
.wrap{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    border: 10px solid #5dbcf9;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 53px;
    border-bottom: none;
}
.b{
    width: 80px;
    height: 50px;
    border: 10px solid #5dbcf9;
    top: 83px;
    position: absolute;
    border-bottom: none;
}
.c{
    width: 70px;
    height: 30px;
    position: absolute;
    top: 130px;
    left: 190px;
    border: 10px solid #5dbcf9;
    transform: rotate(-30deg);
    border-right: none;
    border-bottom: none;
}
.d{
    width: 70px;
    height: 30px;
    position: absolute;
    top: 130px;
    left: 240px;
    border: 10px solid #5dbcf9;
    transform: rotate(30deg);
    border-left: none;
    border-bottom: none;
}
.e{
    width: 10px;
    height: 70px;
    position: absolute;
    top: 120px;
    left: 250px;
    background: #5dbcf9;
}
.f{
    width: 120px;
    height: 10px;
    position: absolute;
    top: 180px;
    left: 200px;
    background: #191919;
}
.g{
    width: 190px;
    height: 8px;
    position: absolute;
    top: 187px;
    left: 160px;
    background: #5dbcf9;
}
.h{
    width: 110px;
    height: 8px;
    position: absolute;
    top: 200px;
    left: 200px;
    background: #5dbcf9;
}












